# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
.env
.tmp/
.ruff_cache/

# PyInstaller
build/
dist/
*.spec

# IDE
.idea/
.vscode/
*.swp
*.swo
.claude

# OS
.DS_Store
Thumbs.db

# pro
lock.screen
config.json